body {
 overflow: hidden;
}

.header {
    grid-area: top;
    font-family: monospace;
    text-align: left;
    font-size: 2rem;
    padding: .8rem 0rem .8rem .4rem;
    border-bottom: solid rgb(206, 206, 206);
}

#userInfo{
    text-align: right;
    font-size: .3rem;
    width: 100%;
    margin-right: .3rem;
}

/* landing page layout */
.grid {
    position: relative;
    display: grid;
    grid:   'top top top top top'
            'left left left right right'
            'left left left right right'
            'left left left right right'
            'left left left right right'
            'left left left right right';
    height: 100vh;
    width: 100vw;
}

.mainFeed { 
    grid-area: left;
    padding: 2rem;
    overflow: scroll;
    width: 100%;

}

/*LIVE FEED PORTION: */
.samplePost {
    border: solid;
    padding: 5%;
    /* display: none; */
    
    margin-bottom: 5%;
    width: 90%;
    animation: fadeEffect 1s; /* fade in */
}

li, ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

@keyframes fadeEffect {
    from {opacity: 0}
    to {opacity: 1;}
}

.filters {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.filters button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 14px 0 16px;

    font-size: 18px;
    font-weight: 1000;
    color:rgb(152, 152, 152);
    transition: 0.3s;
}

.buildingHub { 
    grid-area: right;
    border-left: solid;
    /* padding: 5%; */
    overflow: scroll;
}


/* BUILDING HUBS PORTION: */
/* to format the buttons */ 
.buildingHub .biRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5rem;
 
}

.buildingHub .biCol {
    flex: 50%;
    max-width: 50%;
    padding: 1rem;
}

/* make hubs stack when small screen  */
@media screen and (max-width: 700px) {
    .buildingHub .biCol{
        flex: 100%;
        max-width: 100%;
    }
}

/* style the buttons */
.buildingHub button {
    
    padding: 20%;
    width: 100%;
    margin: 1rem auto;
    border-radius: 25px;
    overflow: scroll;
}

.buildingHub button:hover{
    opacity: .7;
}

.buildingPage {
    display: block;
    animation: fadeEffect 1s; /* fade in */
    width: 100%;
}

/* POST BUTTON */
.postBtn{
    position: absolute;
    bottom: 5%;
    float:left;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 1.4rem;
    z-index: 1;
    opacity: .7;
}

.postBtn:hover {
    opacity: .9;
}

.popUp {
    display: none;
    border-radius: 25px;
    background-color: rgb(231, 231, 231);
    position: absolute;
    z-index: 11;
    top: 25%;
    right: 5%;
    left: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1rem;
}

#postClose {
    font-size:24px; 
    float: right;
}

select {
    padding: .2rem;
}

#submit {
    float: right;
    margin: 5% 5% 2%;
    padding: .7rem;
    border-radius: 25px;
    background-color:rgb(202, 202, 202);
    border: none;
}

#buildingEditors {
    position: absolute;
    float: left;
    z-index: 1;
    margin-right: .6rem;
    right: 0;
    bottom: 0;
    /* border:solid black; */
}


#addBuilding, #removeBuilding {
    display: block;
    width: 100%;
    padding: .5rem;
    opacity: .7;

}

#addBuilding:hover, #removeBuilding:hover {
    opacity: .9;
}

.addBuildingInput {
    width: 100%;
    padding: .5rem;
    margin: 1%;
    border-radius: 10px;
}

