<!-- <html lang="en">    
<head>    
<title>Index Page</title>    
</head>    
<body>    
<form action="save" method="post">    
<table>    
<tr>    
<td><label for="user-name">User Name</label></td>    
<td><input type="text" name="name"></input></td>    
 </tr>    
<tr>    
<td><label for="email">Email</label></td>    
<td><input type="text" name="email"></input></td>    
</tr>    
<tr>    
<td></td>    
<td><input type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    
</body>    
</html>   -->
<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Just in Case</title>
    </head>

    <body>
        <form action="createPost" method="post" class="createPost" id="createPost">
            <h1>New Post <i id="postClose" class="fa fa-close"></i></h1>
            <div>
                Alert! 
                <select name="postType" id="postType">
                    <option value="EXCESSIVE_RAIN">There is excessive rain on </option>
                    <option value="EXCESSIVE_SNOW">There is excessive snow on </option>
                    <option value="CROWDED">It is crowed at </option>
                    <option value="CLOSED">The following location is closed- </option>
                </select>
                <select name="location" id="location">
                    <option value="ADELBERT_HALL">Adelbert Hall</option>
                    <option value="ADELBERT_GYM">Adelbert Gym</option>
                    <option value="WOLSTEIN_HALL">Wolstein Hall</option>
                    <option value="AMASA_STONE_CHAPEL">Amasa Stone Chapel</option>
                    <option value="ART_STUDIO">Art Studio</option>
                    <option value="BOOKSTORE">Bookstore</option>
                    <option value="BELLFLOWER_HALL">Bellflower Hall</option>
                    <option value="Bringham">Bingham</option>
                </select>
            </div>
            <input type="submit" id="submit"></input>
        </form>

        <div class="grid">

            <div class="header">Just in Case</div>
                
            <!--Feed/Building Page Section [LEFT]-->
            <div class="mainFeed" id="mainFeed">
                <!--Feed Filter Options-->
                <div class="filters">
                    <button class="filter" onclick="showFeed(event, 'home')" id="defaultOpen"><h3>Live Feed</h3></button>
                    <button class="filter" onclick="showFeed(event, 'study')">Study Spots</button>
                    <button class="filter" onclick="showFeed(event, 'food')">Food</button>
                </div>
                <div class="postFeed" id="postFeed">
                    <!--Feed Posts-->
                    <div id="home" class="samplePost">This is a sample general live alert at sample location<br>made by Me</div>
                    <div id="home" class="samplePost">This is a sample general live alert at sample location<br>made by Me</div>
                    <div id="study" class="samplePost">This is a sample study alert at sample location<br>made by Me</div>
                    <div id="food" class="samplePost">This is a sample food alert at sample location<br>made by Me</div>
                    <tr th:each="post: ${feed}">
                        <td th:text="${{post.postType}">
                    </tr>
                </div>
                <!--Building Pages-->
                <div id="A" class="buildingPage">
                    <h3>THIS IS FOR BUILDING A</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>
                
                <div id="B" class="buildingPage">
                    <h3>THIS IS FOR BUILDING B</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>

                <div id="C" class="buildingPage">
                    <h3>THIS IS FOR BUILDING C</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>

                <div id="D" class="buildingPage">
                    <h3>THIS IS FOR BUILDING D</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>
                
                <div id="E" class="buildingPage">
                    <h3>THIS IS FOR BUILDING E</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>

                <div id="F" class="buildingPage">
                    <h3>THIS IS FOR BUILDING F</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>

                <div id="G" class="buildingPage">
                    <h3>THIS IS FOR BUILDING G</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>

                <div id="H" class="buildingPage">
                    <h3>THIS IS FOR BUILDING H</h3>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br><br><br>
                    <!--Will Hold the Dynamic Statuses-->
                    <div class="status">
                        Floor 1: STATUS <br>
                        Floor 2: STATUS <br>
                        Floor 3: STATUS <br>
                        Floor 4: STATUS <br>
                        Floor 5: STATUS <br>
                    </div>
                </div>
                <!--Post Button-->
                <button class="postBtn" id="postBtn">
                    +
                </button>
            </div>
            <!--Building Hub Section [RIGHT]-->
            <div class="buildingHub">

                <!--Two Columns of Buttons-->
                <div class="biRow">
                    <div class="biCol">
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'A')" >Building A</button>
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'C')" >Building C</button>
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'E')" >Building E</button>
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'G')" >Building G</button>
                    </div>

                    <div class="biCol">
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'B')" >Building B</button>
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'D')" >Building D</button>
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'F')" >Building F</button>
                        <button type="submit" class="buildingSelect" onclick="showBuilding(event, 'H')" >Building H</button>
                    </div>
                </div>
            </div> 
        </div>
        <script src="./script.js"></script>
    </body>


</html> -->